mat-form-field {
  width: 300px;
}

#submitButton {
  width: 300px;
}

.contain-wrapper {
  display: flex;
  height: 90vh;
}

#form-login {
  flex: 1;
}

.ts-menu {
  list-style: none;

  a {
    text-decoration: none;
    color: white;
  }
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}
