<!-- <div *ngIf="messages | async as messagesAll">
  <div *ngFor="let message of messagesAll">{{ message.Content }}</div>
</div> -->
<section id="chat-board" fxLayout fxFlexFill id="chat-content">
  <div fxFlex="30" fxFlex.lt-sm="0" class="chat-pane" id="chat-left">
    <div *ngFor="let user of userList$ | async">
      <div (click)="selectedUser$.next(user.guid)">{{ user.guid }}</div>
    </div>
  </div>
  <div fxFlex="70" fxFlex.lt-sm="100" class="chat-pane" id="chat-right">
    <div fxFlexFill fxLayout="column">
      <perfect-scrollbar [config]="config">
        <div fxFlex class="messages-list" #chatPanel>
          <ng-container *ngIf="messages | async as userMessages">
            <app-message
              *ngFor="let userMessage of userMessages"
              class=""
              [content]="userMessage.content"
              [type]="
                userMessage.senderId === agentGUID ? 'incoming' : 'outgoing'
              "
            ></app-message>
          </ng-container>
        </div>
      </perfect-scrollbar>

      <div class="chat-input">
        <mat-divider></mat-divider>
        <form
          fxLayout
          fxLayoutGap="5px"
          #fChat
          class="chat-form"
          (ngSubmit)="sendMessage()"
        >
          <mat-form-field fxFlex>
            <mat-label>Enter your message</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="message"
              name="messageBox"
            />
          </mat-form-field>
          <button
            [disabled]="message.length === 0"
            type="submit"
            mat-icon-button
            id="chat-message-box"
            color="accent"
          >
            <mat-icon>send</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
